# build output
public/
resources/_gen/
assets/jsconfig.json

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.idea/
.vscode/

# php 関係
vendor/
composer.lock

# geany 関連
learn-grav-ja.geany
