{{ partial "breadcrumbs.html" . }}

<div class="markdown mt-4 p-3">
<h1>{{ .Title }}</h1>
{{ .Content }}
</div>


<div class="row p-3">
    {{ range .Pages }}
    <div class="col-12 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="">
                    <a class="stretched-link" 
                        href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div class="card-text">
                    {{ .Content | plainify | strings.Truncate 42 }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ partial "prev-next.html" . }}


