<title>{{ with .Title}}{{ . }} | {{ end }}{{ site.Title }}</title>
<script>(function(){document.documentElement.dataset.bsTheme=window.matchMedia('(prefers-color-scheme: dark)').matches ?'dark':'light'})()</script>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow">
{{ else }}
    {{ with .Description }}
        <meta name="description" content="{{ . }}">
    {{ end }}

    {{ partial "opengraph" . }}

    {{ partial "twitter_cards.html" . }}
{{ end }}

{{ if .Permalink }}
  <link rel="canonical" href="{{ .Permalink }}">
{{ end }}

<link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | absURL }}">
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">

<script defer src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script defer src="{{ "js/custom.js" | absURL }}"></script>

{{- block "jsonld" . }}{{ end }}

