:root {
    --bs-breadcrumb-divider: '>';
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    padding: 2rem;
    display: block;
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    white-space: nowrap;
}
code {
    white-space: nowrap;
}

main {
    word-break: break-all;
    line-height:1.7;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    padding-top: 3.5rem;
    padding-bottom: .7rem;
}

.heading-external-link a {
    padding-inline-start: .3rem;
}

.heading-external-link svg {
    color: var(--bs-primary);
    opacity: 0;
}

.heading-external-link:hover svg {
    opacity: 1;
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0;
}

@media (min-width:991.99px) {
    .offcanvas-wrapper {
        position: sticky;
        height: 100dvh;
        left:0;
        top:0;
    }
}

button[data-bs-toggle="collapse"] > svg {
    display: inline-block;
    transform-origin: center;
}
button[aria-expanded="true"] > svg {
    transform: rotate(180deg);
}


