---
const { direction = 'next', linkurl } = Astro.props;
const text = (direction === 'next') ? '< 前' : '次 >';
const canNotLink =  (linkurl === '#') ? true : false;
---


<div class="flex-shrink-0">
    <a href={ linkurl } class:list={['btn', 'border-0', { disabled: canNotLink }]} >{ text }</a>
</div>