---
const { breadobj } = Astro.props;
const title = (rawTitle: string): string =>
    rawTitle.length > 14 ? rawTitle.slice(0, 12) + "..." : rawTitle;
---

<ol class="breadcrumb">
    {
        breadobj.map((page: any, index: number) => {
            if (index === breadobj.length - 1) {
                return (
                    <li class="breadcrumb-item">
                        {title(page.title)}
                    </li>
                );
            } else if (page.redirect === false) {
                return (
                    <li class="breadcrumb-item">
                        <a href={"/learn-grav-ja/"+page.pathname}>
                            {title(page.title)}
                        </a>
                    </li>
                );
            } else {
                return (
                    <li class="breadcrumb-item">
                        {title(page.title)}
                    </li>
                );
            }
        })
    }
</ol>
