---
import Sidebarchild from '../components/Sidebar.astro';

const { pages, currentpath } = Astro.props;
---

<ol>
    { pages.map( (page: any) => 
        <li>
            {(page.redirect === false)
                ? <a href={ `/learn-grav-ja/${page.pathname}/` }>{ page.title }</a>
                : page.title
            }
            
            {(page.children.length > 0 && page.pathname.startsWith(currentpath))
                ? <Sidebarchild pages={ page.children } currentpath={ currentpath } />
                : ''
            }
        </li>
    )}
</ol>

