{{ if eq .Type "alert" }}
    <div class="alert alert-{{ .AlertType }}">
        <p class="m-0">
            <svg viewBox="0 0 16 16" style="width:1.5rem;height:auto;">
                <use href="{{ relURL "images/icons.svg" }}#alert-{{ .AlertType}}"></use>
            </svg>
        {{ with .AlertType }}
            <span class="ms-2">{{ humanize . }}</span>
        {{ end }}
        </p>
        {{ .Text }}
    </div>
{{ else if strings.HasPrefix .Text "<p>[!訳注]" }}
    <div class="alert alert-translation">
        <p class="m-0">
            <svg viewBox="0 0 16 16" style="width:1.5rem;height:auto;">
                <use href="{{ relURL "images/icons.svg" }}#alert-translation"></use>
            </svg>
            <span class="ms-2">訳注</span>
        </p>
        {{ replace .Text "<p>[!訳注]<br>" "<p>" | safeHTML }}
    </div>
{{ else }}
  <blockquote class="ps-3 border-start border-5">
    {{ .Text }}
  </blockquote>
{{ end }}
