---
import Base from './Base.astro';
const { frontmatter } = Astro.props;
---

    <Base frontmatter={frontmatter}>
      <main class="position-relative p-5 z-0 learn-grav-chapter">
        <slot />
      </main>
    </Base>
      
