---
import { Base } from './Base.astro';
import { siteConfig } from '../config';
const { sitetitle, description, baseurl, bloburl, learnurl } = siteConfig;
const { children, frontmatter } = Astro.props;
---

    <Base>
      <main class="position-relative p-3 z-0">
        <div id="main-content"><slot /></div>
      </main>
    </Base>
      
