---
import Base from './Base.astro';
import { siteConfig } from '../config';
const { sitetitle, description, baseurl, bloburl, learnurl } = siteConfig;
const { children, frontmatter } = Astro.props;
---

    <Base frontmatter={frontmatter}>
      <main class="position-relative p-3 z-0">
        <h1>{ frontmatter.title }</h1>
        <div class="accordion m-3" id="mokuji" style="max-width:400px;">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" 
                data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                aria-expanded="true" aria-controls="collapseOne">
                目次
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" 
              data-bs-parent="#mokuji">
              <div class="accordion-body">
                <ul id="mokuji-ul" class="list-group list-group-flush">
                  <template>
                    <li class="list-group-item">
                      <a href="#">test</a>
                    </li>
                  </template>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="main-content"><slot /></div>
      </main>
    </Base>

